POSTGRES_DB=estampaflow
POSTGRES_USER=estampaflow
POSTGRES_PASSWORD=cambia-esta-clave
DATABASE_URL=postgresql://estampaflow:cambia-esta-clave@db:5432/estampaflow
DJANGO_SECRET_KEY=reemplaza-esta-clave-por-una-cadena-aleatoria-de-al-menos-64-caracteres-2026
DJANGO_DEBUG=false
DJANGO_ALLOWED_HOSTS=estampaflow.cl,www.estampaflow.cl
CORS_ALLOWED_ORIGINS=https://estampaflow.cl,https://www.estampaflow.cl
CSRF_TRUSTED_ORIGINS=https://estampaflow.cl,https://www.estampaflow.cl
FRONTEND_URL=https://estampaflow.cl
JWT_COOKIE_SECURE=true
DJANGO_COOKIE_SECURE=true
DJANGO_SECURE_SSL_REDIRECT=true
DJANGO_HSTS_SECONDS=31536000
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=
EMAIL_PORT=587
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=true
DEFAULT_FROM_EMAIL=notificaciones@estampaflow.cl
STORAGE_BACKEND=s3
AWS_STORAGE_BUCKET_NAME=estampaflow-produccion
AWS_S3_REGION_NAME=us-east-1
AWS_S3_ENDPOINT_URL=
AWS_S3_CUSTOM_DOMAIN=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_QUERYSTRING_EXPIRE=900
GUNICORN_WORKERS=3
HTTP_PORT=80
